html, body, #root {
  height: 100%;
}

nav a.active:not(.navbar-brand), 
nav a:hover:not(.navbar-brand) {
  text-decoration: underline;
}

.landing-hero-image {
  background-image: url(/images/landing_bg.jpeg);
  background-size: cover;
  min-height: 600px;
}